
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--************************************
        Banner Start
*************************************-->
<div id="hb-innerbanner" class="hb-innerbanner hb-haslayout">
    <div class="container">
        
        <div class="row">
            
            <div class="col-xs-12">

                <div class="hb-innerbanner-area">

                    <div class="hb-bannarheading">

                        <h1>Contact Us</h1>
                    </div>
                    <ul class="hb-breadcrumb">

                        <li><a href="index.html">Home</a></li>
                        <li>contact us</li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="hb-main" class="hb-main hb-haslayout">
    <!--************************************
                Paradise Center Start
    *************************************-->
    <section id="hb-contactus" class="hb-contactus hb-sectionspace hb-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-sm-offset-0 col-md-8 col-md-offset-2">
                    <div class="hb-sectionhead mb-50">
                        <div class="hb-sectiontitle">
                            <h2>
                                <span>Welcome to</span>
                                Paradise Center
                            </h2>
                        </div>
                        <div class="hb-headcontent">
                            <h2>You will like to look like goddes every day!</h2>
                            <div class="hb-description">
                                <p>Paradise products combine botanical and advanced cosmeceutical ingredients with the Science of Beauty to bring you the ultimate in professional skincare in a retail form.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hb-contactus-area hb-haslayout">
                    <div class="col-xs-12 col-sm-12">
                        <figure class="hb-contactusmap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10401.95210928384!2d-123.1056074!3d49.3239786!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf75f17a08a59195e!2sSweet+nails+and+Spa!5e0!3m2!1svi!2s!4v1561195126990!5m2!1svi!2s" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </figure>
                    </div>
                    <div class="hb-addressarea">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="hb-address">
                                <h2>Australia</h2>
                                <div class="hb-addressbox">
                                    <p>
                                        40 Baria Sreet 133/2 NewYork City, US
                                        <span>Email: info.contact@gmail.com</span>
                                        <span>Phone: 123-456-7890</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="hb-address">
                                <h2>United States</h2>
                                <div class="hb-addressbox">
                                    <p>
                                        40 Baria Sreet 133/2 NewYork City, US
                                        <span>Email: info.contact@gmail.com</span>
                                        <span>Phone: 123-456-7890</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="hb-address">
                                <h2>Viet Nam</h2>
                                <div class="hb-addressbox">
                                    <p>
                                        40 Baria Sreet 133/2 NewYork City, US
                                        <span>Email: info.contact@gmail.com</span>
                                        <span>Phone: 123-456-7890</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hb-contactus-formarea">
                        <div class="col-xs-12">
                            <div class="hb-headcontent">
                                <h2>Contact Us By Email!</h2>
                                <div class="hb-description">
                                    <p>Fill out the form below to recieve a free and confidential intial consultation.</p>
                                </div>
                            </div>
                        </div>
                        <div class="hb-formtheme hb-contactusform">
                            <form id="contactForm" data-toggle="validator">
                                <fieldset>
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <input type="text" id="txtname" class="form-control" name="name" placeholder="Name" required data-error="NEW ERROR MESSAGE">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <input type="text" id="txtemail" class="form-control" name="email" placeholder="Email" required data-error="NEW ERROR MESSAGE">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="form-group">
                                            <input type="text" id="txtwebsite" class="form-control" name="website" placeholder="Website" required data-error="NEW ERROR MESSAGE">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <textarea class="form-control" id="txtmessage" required data-error="NEW ERROR MESSAGE">Messages</textarea>
                                        </div>
                                    </div>
                                    <div id="msgSubmit" class="form-message hidden"></div>
                                    <div class="col-xs-12 col-sm-12">
                                        <div class="form-group">
                                            <button type="submit" class="hb-btn" id="form-submit">SEND MESSAGES</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
                Paradise Center End
    *************************************-->
</main>
<!--************************************
        Main End
*************************************-->
